body { background-color: lightgrey;}
p { 
    line-height: 30px; 
    font-size: 20px;
    color: black;
}
h3
{
    color: rgb(0, 0, 0);
}
#info-section {
    margin: 10px 10px 10px 10px;
    padding-bottom: 8px;
}
#text-section 
{
    background-color: #E1F2FE;
    padding: 5px 20px 5px 20px;
    display: block;
    float: left;
    position: relative;
}
#img-section
{
    display: block;
    background-color: antiquewhite;
}

#personal-section{
    margin: 10px;
    float: right;
    background-color: antiquewhite;
    padding: 5px 33px 5px 20px;
}

#course-section{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background-color: aliceblue;
    padding: 0px 10px 0px 10px;
}
#course-section h3{
    margin-left: 10px;
}